<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
</head>
<body>
    <h1>My Todos</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Task</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="todo : ${todos}">
                <td th:text="${todo.id}">ID</td>
                <td th:text="${todo.title}">Title</td>
                <td th:text="${todo.description}">Description</td>
                <td><a th:href="@{/edit/{id}(id=${todo.id})}">Edit</a></td>
                <td><a th:href="@{/delete/{id}(id=${todo.id})}">Delete</a></td>
            </tr>
        </tbody>
    </table>
<p><a href="/addtodo">Add new</a></p>
</body>
</html>