<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/todo2.css">
    <title>Update</title>
</head>
<body>
    <div class="form">
    <h1>Uptade a Todo</h1>
    <form action="#" th:action="@{/update/{id}(id=${todo.id})}" th:object="${todo}" method="post">
        <label for="description">Description</label>
        <input th:field="*{description}" type="text" name="description" id="description">
        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
        <br>
        <label for="deadline">Deadline</label>
        <input th:field="*{deadline}" type="date" name="deadline" id="deadline"><br>
        <br>
        <button type="submit" class="btn">Update</button>
        </form>
    </div>
</body>
</html>