* {
    margin: 0;
	padding: 0;
    box-sizing: border-box;
}
  
html, body{
    background: #fdfbfb;
    font-family: Verdana, Tahoma, sans-serif;
}

.form{
    margin: 100px auto;
    width: 550px;
    background: #69faff;
    color: #1d1c1c;
    box-shadow:-10px -10px 0px 0px rgba(112, 112, 112, 0.1);
    border-radius: 20px;
}

h1{
    font-size: 24px;
    text-align: center;
    padding: 15px;
}

input[type=text]{
    padding: 12px;
    border: 1px solid #e9eff0;
    border-radius: 4px;
}
  
button{
    border: 1px solid rgba(112, 112, 112, 0.1);
    border-radius: 20px;
    color: #e9eff0;
    background-color: #65d2d6;
    text-transform:uppercase;
    cursor:pointer;
    padding: 3px;
}

label{
    padding: 12px;
    display: inline-block;
}
  
.btn{
    margin: 10px;
}
